*.o
*.a
bash
.build
.made
autom4te.cache
bashversion
mkbuiltins
psize.aux
config.log
mksignames
mksyntax
man2html
version.h
bashbug
builtext.h
builtins.c
pipesize.h
lsignames.h
signames.h
syntax.c
y.tab.c
y.tab.h
